<h2 mat-dialog-title>Modifier un Logement</h2>
<div mat-dialog-content id="editLogementForm">
    <form [formGroup]="logementForm">
        <mat-form-field class="form-field">
            <mat-label>Quartier</mat-label>
            <input matInput placeholder="Quartier" formControlName="quartier">
            <mat-error *ngIf="logementForm.get('quartier')?.invalid && logementForm.get('quartier')?.touched">
                <ng-container *ngIf="logementForm.get('quartier')?.errors?.['required']">Le nom du quartier est
                    obligatoire.
                </ng-container>
                <ng-container *ngIf="logementForm.get('quartier')?.errors?.['minlength']">Au moins 2 caractères pour le
                    nom du quartier.
                </ng-container>
                <ng-container *ngIf="logementForm.get('quartier')?.errors?.['maxlength']">Au plus 30 caractères pour le
                    nom du quartier.
                </ng-container>
                <ng-container *ngIf="logementForm.get('quartier')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Ville" formControlName="ville">
            <mat-error *ngIf="logementForm.get('ville')?.invalid && logementForm.get('ville')?.touched">
                <ng-container *ngIf="logementForm.get('ville')?.errors?.['required']">Le nom de la ville est
                    obligatoire.
                </ng-container>
                <ng-container *ngIf="logementForm.get('ville')?.errors?.['minlength']">Au moins 2 caractères pour le nom
                    de la ville.
                </ng-container>
                <ng-container *ngIf="logementForm.get('ville')?.errors?.['maxlength']">Au plus 25 caractères pour le nom
                    de la ville.
                </ng-container>
                <ng-container *ngIf="logementForm.get('ville')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field id="description" class="form-field">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Ex Maison-R2" formControlName="description">
            <mat-error *ngIf="logementForm.get('description')?.invalid && logementForm.get('description')?.touched">
                <ng-container *ngIf="logementForm.get('description')?.errors?.['required']">La description du logement
                    est obligatoire.
                </ng-container>
                <ng-container *ngIf="logementForm.get('description')?.errors?.['minlength']">Au moins 5 caractères pour
                    la description.
                </ng-container>
                <ng-container *ngIf="logementForm.get('description')?.errors?.['maxlength']">Au plus 15 caractères pour
                    la
                    description
                </ng-container>
                <ng-container *ngIf="logementForm.get('description')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>

            </mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-button color="accent" (click)="onConfirm()">Modifier Logement</button>
</div>
