<mat-card>
    <mat-card-content>
        <form #inscriptionForm="ngForm"
              [appMatchPassword]="['password', 'confirmPassword']"
              (submit)="registerUser()">

            <!-- Prénom -->
            <mat-form-field class="form-field">
                <input matInput placeholder="Prénom" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel"
                       required minlength="2" maxlength="50">
            </mat-form-field>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                <span *ngIf="firstName.errors?.['required']">Le prénom est obligatoire.</span>
                <span *ngIf="firstName.errors?.['minlength']">Le prénom doit avoir au moins 2 caractères.</span>
                <span *ngIf="firstName.errors?.['maxlength']">Le prénom doit avoir au plus 50 caractères.</span>
            </div>

            <!-- Nom -->
            <mat-form-field class="form-field">
                <input matInput placeholder="Nom" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel"
                       required
                       minlength="2" maxlength="50">
            </mat-form-field>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                <span *ngIf="lastName.errors?.['required']">Le nom est obligatoire.</span>
                <span *ngIf="lastName.errors?.['minlength']">Le nom doit avoir au moins 2 caractères.</span>
                <span *ngIf="lastName.errors?.['maxlength']">Le nom doit avoir au plus 50 caractères.</span>
            </div>

            <!-- Email -->
            <mat-form-field class="form-field">
                <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel"
                       required>
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                <span *ngIf="email.errors?.['required']">L'adresse e-mail est obligatoire.</span>
                <span *ngIf="email.errors?.['email']">Le format de l'adresse e-mail est invalide</span>
            </div>
            

            <!-- Mot de passe -->
            <mat-form-field class="form-field">
                <input matInput [type]="showPass ? 'text':'password'" placeholder="Mot de passe"
                       [(ngModel)]="user.password" name="password" #password="ngModel" required>
                <mat-icon matSuffix (click)="showPassword()">visibility</mat-icon>
            </mat-form-field>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                <span *ngIf="password.errors?.['required']">Le mot de passe est obligatoire.</span>
            </div>

            <!-- Confirmation du mot de passe -->
            <mat-form-field class="form-field">
                <input matInput [type]="showConfirmPass ? 'text':'password'" placeholder="Confirmer le mot de passe"
                       [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required>
                <mat-icon matSuffix (click)="showConfirmPassword()">visibility</mat-icon>
            </mat-form-field>
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert">
                <span *ngIf="confirmPassword.errors?.['required']">Le champ Confirmer le mot de passe est obligatoire</span>
                <span *ngIf="confirmPassword.errors?.['matching']">Les deux champs mot de passe ne sont pas identiques</span>
            </div>

            <!-- Choix du rôle -->
            <div>

                <mat-radio-group [(ngModel)]="user.role" name="role" required>
                    <mat-radio-button value="BAILLEUR">Bailleur</mat-radio-button>
                    <mat-radio-button value="LOCATAIRE">Locataire</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="!user.role" class="alert">
                <span>Le rôle est obligatoire.</span>
            </div>

            <div class="error-message">
                <ul>
                    <li *ngFor="let error of errorMessages">{{error}}</li>
                </ul>
            </div>


            <!-- Bouton d'inscription -->
            <button mat-raised-button color="primary" type="submit" [disabled]="!inscriptionForm.form.valid">
                INSCRIPTION
            </button>
        </form>
    </mat-card-content>
</mat-card>
