h2{
    color:black;
    text-align:center;
        margin-top: 3%;
    }

.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.not-found-container button {
  font-size: 1em;
  padding: 10px 20px;
}
