<mat-tab-group id="loginRegister">
    <mat-tab label="REINITIALISATION DE MOT DE PASSE">
<mat-card>
  <mat-card-content>
    <!-- Form for requesting password reset -->
    <form *ngIf="!isResetMode" #resetForm="ngForm" (ngSubmit)="sentMailResetPasswordSubmit()">
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.errors?.['required'] && (emailInput.dirty || emailInput.touched)">
              L'adresse e-mail est obligatoire.
          </mat-error>
          <mat-error *ngIf="emailInput.errors?.['email'] && (emailInput.dirty || emailInput.touched)">
              Le format de l'adresse e-mail est invalide.
          </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">REINITIALISER</button>
    </form>

    <!-- Form for updating password -->
    <form *ngIf="isResetMode" #updateForm="ngForm" (ngSubmit)="updatePasswordSubmit()" [appMatchPassword]="['password', 'confirmPassword']">
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" disabled>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [type]="showPass ? 'text' : 'password'" placeholder="Nouveau mot de passe" [(ngModel)]="formData.password" name="password" #passwordInput="ngModel" required>
          <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="showPassword()"
                  [attr.aria-label]="showPass ? 'Masquer le mot de passe' : 'Afficher le mot de passe'">
              <mat-icon>{{ showPass ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
          <mat-hint align="start">8+ caractères recommandés</mat-hint>
          <mat-error *ngIf="passwordInput.errors?.['required'] && (passwordInput.dirty || passwordInput.touched)">
              Le mot de passe est obligatoire.
          </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [type]="showConfirmPass ? 'text' : 'password'" placeholder="Confirmer le mot de passe" [(ngModel)]="formData.confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" required>
          <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="showConfirmPassword()"
                  [attr.aria-label]="showConfirmPass ? 'Masquer le mot de passe' : 'Afficher le mot de passe'"
          >
              <mat-icon>{{ showConfirmPass ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
          <mat-error
                  *ngIf="confirmPasswordInput.errors?.['required'] && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
              La confirmation est obligatoire.
          </mat-error>
          <mat-error
                  *ngIf="confirmPasswordInput.errors?.['matching'] && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
              Les mots de passe ne correspondent pas.
          </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="updateForm.invalid">METTRE À JOUR</button>
    </form>
  </mat-card-content>
</mat-card>
    </mat-tab>
</mat-tab-group>
