<mat-tab-group id="loginRegister">
    <mat-tab label="REINITIALISATION DE MOT DE PASSE">
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="sentMailResetPasswordSubmit()">
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">REINITIALISER</button>
    </form>
  </mat-card-content>
</mat-card>
    </mat-tab>
</mat-tab-group>