<div id="contact">
  <div id="contactLeft">
    <h2>Formulaire de contact</h2>
    <form class="example-form">
      <mat-form-field>
        <input matInput placeholder="Nom complet">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Adresse e-mail">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput rows="6" cols="50" placeholder="Message"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </form>
  </div>
  <div id="contactRight">
    <h2>Notre localisation</h2>
    <div>
      <img src="./assets/css/images/france.jpg" alt="Paris" height="335px" width="100%"/>
    </div>
    <div id="paris">
      <img src="./assets/css/images/drapeau.png" alt="Drapeau France" height="38px" width="50px"/> &nbsp;&nbsp; Paris, France
    </div>
  </div>
  <div class="clearer"></div>
</div>

