<div>
    <button mat-raised-button class="back" color="primary" (click)="goBack()">Retour</button>
</div>
<h2>Les logements du bien : {{descriptionLogement}}</h2>
<div id="apparts" *ngIf="apparts.length > 0; else noApparts">
    <div *ngFor="let appart of apparts" class="appart-item">
        <div class="appart-info">
            <button mat-button [matMenuTriggerFor]="menu" class="menu-button">Menu</button>
            <div (click)="viewLoyers(appart.reference)">
                <p>Nom : <span class="value">{{ appart.nom }}</span></p>
                <p>Prix Loyer : <span class="value">{{ appart.prixLoyer }} €</span></p>
                <p>Prix Caution : <span class="value">{{ appart.prixCaution }} €</span></p>
            </div>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewLoyers(appart.reference)">Historique</button>
            <hr style="margin: 0; border: none; border-top: 2px solid black;"/>
            <button mat-menu-item (click)="openEditAppartDialog(appart)">Modifier</button>
            <hr style="margin: 0; border: none; border-top: 2px solid black;"/>
            <button class="supprimer-button"
                    mat-menu-item (click)="openDeleteAppartDialog(appart.reference)">
                Supprimer
            </button>
        </mat-menu>
    </div>
</div>


<ng-template #noApparts>
    <p id="noAppart">Aucun appartement trouvé pour ce bien</p>
</ng-template>

<button class="ajouter" mat-raised-button color="primary" (click)="openAddAppartDialog()">
    Ajouter Appartement
</button>





