/* logement-list.component.css */

h2{
    color:black;
    text-align:center;
        margin-top: 3%;
    }

#noLogement{
    text-align:center;
    }

#logements{
  margin-left: 2%;
  margin-right: 2%;
    }
.logement-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width:45%;
  display:inline-block;
  margin-left: 3%;
  margin-right: 2%;
  background-color: white;
}

.logement-item:hover {
  transform: scale(1.02);
  cursor:pointer;
  background-color:#FAF0E6;
}

.logement-item h4 {
  margin: 0px;
  color: #333;
  font-weight: bold;
}

.logement-item p {
  margin: 5px 0;
  font-weight: 300;
}

.logement-item p:last-child {

}

form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: blue;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover {
  background-color: #218838;
}

#mat-input-0::placeholder{
  color: black;
  font-style: italic;
}

#mat-input-1::placeholder{
  color: black;
  font-style: italic;
}

#mat-input-2::placeholder{
  color: black;
  font-style: italic;
}

#actionsLogement{
    margin-top:5%;}

#actionsLogement button{
    margin-right:3%;}

#actionsLogement button.modifier{
    color:white;
    background-color:#008B8B;}

#actionsLogement button.supprimer{
    color:white;
    background-color:red;}

button.ajouter{
    margin-left:43%;
    margin-top:5%;
    margin-bottom:2%,};

