<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez NOUS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form *ngIf="!isMessageSent" (ngSubmit)="sendContactMessage()" #contactForm="ngForm" name="contactForm"
                      class="contact-form"
                      id="contactForm">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input matInput class="form-control" id="name" type="text"
                               placeholder="Entrez votre nom complet"
                               [(ngModel)]="message.senderName" name="senderName" #senderName="ngModel" required
                               maxlength="50"/>
                        <label for="name">Nom complet</label>
                        <!-- Message d'erreur pour le nom -->
                        <div *ngIf="senderName.invalid && senderName.touched" class="text-danger">
                            Le nom est obligatoire.
                        </div>
                    </div>

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input matInput class="form-control" id="email" type="email" [(ngModel)]="message.senderMail"
                               name="senderMail"
                               placeholder="name@example.com" #senderMail="ngModel" required email/>
                        <label for="email">Adresse Email</label>
                        <!-- Message d'erreur pour l'email obligatoire -->
                        <div *ngIf="senderMail.errors?.['required'] && senderMail.touched" class="text-danger">
                            L'email est obligatoire.
                        </div>
                        <!-- Message d'erreur pour l'email invalide -->
                        <div *ngIf="senderMail.errors?.['email'] && senderMail.touched" class="text-danger">
                            L'email doit être valide.
                        </div>
                    </div>

                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea matInput class="form-control" id="message" placeholder="Tapez votre message"
                                  style="height: 10rem"
                                  [(ngModel)]="message.senderMessage" name="senderMessage" #senderMessage="ngModel"
                                  required minlength="10" maxlength="5000"></textarea>
                        <label for="message">Message</label>
                        <!-- Message d'erreur pour le message -->
                        <div *ngIf="senderMessage.errors?.['required'] && senderMessage.touched" class="text-danger">
                            Le message est obligatoire.
                        </div>
                        <div *ngIf="senderMessage.errors?.['minlength'] && senderMessage.touched" class="text-danger">
                            Le message doit contenir au moins 10 caractères.
                        </div>
                    </div>

                    <div class="error-message">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{error}}</li>
                        </ul>
                    </div>

                    <!-- Submit Button-->
                    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid">
                        Envoyer
                    </button>
                </form>
                <!-- Message de confirmation après l'envoi -->
                <div class="contactMessageSent" *ngIf="isMessageSent">
                    <h2>Message envoyé !</h2>
                    <p>
                        Votre message a bien été envoyé !
                        <br/>
                    </p>
                    <p>
                        Nous allons y répondre dans les plus brefs délais.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
