<div id="contact">
  <div id="contactLeft">
    <div class="alert alert-danger" role="alert" style="background-color:orangered;">
      <ul>
        <li *ngFor="let error of errorMessages">{{error}}</li>
      </ul>
    </div>
    <div class="alert alert-success" role="alert" style="background-color: #45a049;">
      {{successMessage}}
    </div>
    <h2>Formulaire de contact</h2>
    <form class="example-form" (submit)="sendContactMessage()">
      <mat-form-field>
        <input matInput placeholder="Nom complet" [(ngModel)]=message.senderName name="senderName" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Adresse e-mail" [(ngModel)]=message.senderMail name="senderMail" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput rows="6" cols="50" placeholder="Message" [(ngModel)]=message.message name="message" required ></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </form>
  </div>
  <div id="contactRight">
    <h2>Notre localisation</h2>
    <div>
      <img src="./assets/css/images/france.jpg" alt="Paris" height="335px" width="100%"/>
    </div>
    <div id="paris">
      <img src="./assets/css/images/drapeau.png" alt="Drapeau France" height="38px" width="50px"/> &nbsp;&nbsp; Paris, France
    </div>
  </div>
  <div class="clearer"></div>
</div>

