<div id="contact">
  <div id="contactLeft">
    <h2>Formulaire de contact</h2>
    <form #contactForm="ngForm" name="contactForm" class="contact-form" (submit)="sendContactMessage()">
      <mat-form-field>
        <input matInput placeholder="Nom complet" [(ngModel)]=message.senderName name="senderName" #senderName="ngModel" required maxlength="50">
      </mat-form-field>
      <div
              *ngIf="senderName.invalid && (senderName.dirty || senderName.touched)"
              class="alert"
      >
        <div *ngIf="senderName.errors?.['required']">Le nom complet est obligatoire.</div>
        <div *ngIf="senderName.errors?.['maxlength']">
          Le nom complet doit avoir au plus 50 caractères.
        </div>
      </div>

      <mat-form-field>
        <input matInput placeholder="Adresse e-mail" [(ngModel)]=message.senderMail name="senderMail" #senderMail="ngModel" required email>
      </mat-form-field>
      <div
              *ngIf="senderMail.invalid && (senderMail.dirty || senderMail.touched)"
              class="alert"
      >
        <div *ngIf="senderMail.errors?.['required']">L'adresse e-mail est obligatoire.</div>
        <div *ngIf="senderMail.errors?.['email']">
          Le format de l'adresse e-mail est invalide
        </div>
      </div>

      <mat-form-field>
        <textarea matInput rows="6" cols="50" placeholder="Message" [(ngModel)]=message.senderMessage name="senderMessage" #senderMessage="ngModel" required minlength="10"></textarea>
      </mat-form-field>
      <div
              *ngIf="senderMessage.invalid && (senderMessage.dirty || senderMessage.touched)"
              class="alert"
      >
        <div *ngIf="senderMessage.errors?.['required']">Le message est obligatoire.</div>
        <div *ngIf="senderMessage.errors?.['minlength']">
          Le message doit avoir au moins 10 caractères
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid">Envoyer</button>

      <div class="error-message">
        <ul>
          <li *ngFor="let error of errorMessages">{{error}}</li>
        </ul>
      </div>
      <div class="alert alert-success" role="alert" style="background-color: #45a049;">
        {{successMessage}}
      </div>

    </form>
  </div>
  <div id="contactRight">
    <h2>Notre localisation</h2>
    <div>
      <img src="./assets/css/images/france.jpg" alt="Paris" height="335px" width="100%"/>
    </div>
    <div id="paris">
      <img src="./assets/css/images/drapeau.png" alt="Drapeau France" height="38px" width="50px"/> &nbsp;&nbsp; Paris, France
    </div>
  </div>
  <div class="clearer"></div>
</div>

