/* Styles pour la navigation */




#bannerMenu {
  background: linear-gradient(to left, #2276ad, #6ec654);
  text-align: center;
  padding: 1%;

}

#bannerMenu h1{
  color:white;
  font-size: 25px;
  font-weight: 700;
  margin-top:0px;
  margin-bottom:10px;
}

#bannerMenu h2{
  color:white;
  font-size: 14px;
  line-height: 1.5em;
}




