<header id="header">
  <h1 id="logo"><a routerLink=""><mat-icon id="iconHome">home</mat-icon> Gestion Loyer</a></h1>
  <nav id="nav" *ngIf="this.userService.estUtilisateurConnecte();">
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/compte-user">Mon compte</a></li>
      <li><a href="#" (click)="openLogoutDialog($event)" class="button primary">Déconnexion</a></li>
    </ul>
  </nav>
  <nav id="nav" *ngIf="!this.userService.estUtilisateurConnecte();">
    <ul>
      <li><a routerLink="">A propos</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login" class="button primary">Connection  / Inscription </a></li>
    </ul>
  </nav>
</header>
<div id="bannerMenu">
  <h1>Bienvenue sur Beezyweb</h1>
  <h2>Votre Partenaire de Confiance pour le Suivi de Locations Immobilières</h2>
</div>



