<h2 mat-dialog-title>Modifier un Appartement</h2>
<mat-dialog-content>
    <form [formGroup]="appartForm">

        <mat-form-field id="nom" class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom permettant d'identifier l'appartement" formControlName="nom">
            <mat-error *ngIf="appartForm.get('nom')?.invalid && appartForm.get('nom')?.touched">
                <ng-container *ngIf="appartForm.get('nom')?.errors?.['required']">Le nom de l'appartement
                    est obligatoire.
                </ng-container>
                <ng-container *ngIf="appartForm.get('nom')?.errors?.['minlength']">Au moins 2 caractères pour
                    le nom.
                </ng-container>
                <ng-container *ngIf="appartForm.get('nom')?.errors?.['maxlength']">Au plus 15 caractères pour le
                    nom
                </ng-container>
                <ng-container *ngIf="appartForm.get('nom')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field id="prixLoyer" class="form-field">
            <mat-label>Prix du Loyer</mat-label>
            <input matInput placeholder="Prix du Loyer" type="number" formControlName="prixLoyer">
            <mat-error *ngIf="appartForm.get('prixLoyer')?.invalid && appartForm.get('prixLoyer')?.touched">
                <ng-container *ngIf="appartForm.get('prixLoyer')?.errors?.['required']">Le prix de la caution est
                    obligatoire.
                </ng-container>
                <ng-container *ngIf="appartForm.get('prixLoyer')?.errors?.['min']">Entrer un entier positif
                </ng-container>
                <ng-container *ngIf="appartForm.get('prixLoyer')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field id="prixCaution" class="form-field">
            <mat-label>Prix de la caution</mat-label>
            <input matInput placeholder="Prix de la caution" type="number" formControlName="prixCaution">
            <mat-error *ngIf="appartForm.get('prixCaution')?.invalid && appartForm.get('prixCaution')?.touched">
                <ng-container *ngIf="appartForm.get('prixCaution')?.errors?.['required']">Le prix de la caution est
                    obligatoire.
                </ng-container>
                <ng-container *ngIf="appartForm.get('prixCaution')?.errors?.['min']">Entrer un entier positif
                </ng-container>
                <ng-container *ngIf="appartForm.get('prixCaution')?.errors?.['specialCharacters']">Les caractères
                    spéciaux ne sont pas autorisés.
                </ng-container>
            </mat-error>
        </mat-form-field>


    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-button color="accent" (click)="onConfirm()">Modifier</button>
</mat-dialog-actions>

