/* Styles pour la navigation */

#iconHome{
  padding-top: 4px;
  margin-right: 2px;

}
#header {
  background: #272833;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  cursor: default;
  height: 3.8em;
  left: 0;
  line-height: 3.5em;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
}

  #header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
  }

  #header nav {
    position: absolute;
    right: 0em;
    top: 0;
    display: block;
    padding: 0;
    margin: 0;
  }


    #header nav ul {
      margin: 0;
    }

      #header nav ul li {
        display: inline-block;
        margin-left: 1em;
      }

        #header nav ul li a, #header nav ul li span {
          border: 0;
          color: white;
          height: inherit;
          line-height: inherit;
          font-size:20px;
          font-family: 'Times New Roman', Times, serif;
        }

          #header nav ul li a.button, #header nav ul li span.button {
            padding: 2.2px 1.25em;
          }

          #header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
            margin-right: 0.5em;
          }

        #header nav ul li.active > a, #header nav ul li.active > span {
          color: #e44c65;
        }

        #header nav ul li > ul {
          display: none;
        }

body.landing #page-wrapper {
  padding-top: 0;
}


#bannerMenu {
  background: linear-gradient(to left, #2276ad, #6ec654);
  color: #fff;
  text-align: center;
  padding: 1%;

}

#bannerMenu h1{
  color:white;
  font-size: 35px;
  font-weight: bold;
  margin-top:0px;
  margin-bottom:10px;
}

#bannerMenu h2{
  color:white;
  font-size: 20px;
}



section {
  max-width: 800px;
  margin: 20px auto;
}

h1, h2 {
  color: #333;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

strong {
  color: #3498db;
}
