<div id="google-signin-button">
    <button class="google-login-button" (click)="loginWithGoogle()">
        <img class="google-icon" src="./assets/css/images/icons8-google.svg" alt="Google Icon"/>
        Continuer avec Google
    </button>
</div>


<mat-card>
    <mat-card-content>
        <form (submit)="loginSubmit()">
            <mat-form-field>
                <input matInput type="email" [(ngModel)]="loginObj.username" name="email" required placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" [(ngModel)]="loginObj.password" name="password" required
                       placeholder="Mot de passe">
            </mat-form-field>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <button mat-raised-button color="primary" type="submit">CONNECTION</button>
        </form>
    </mat-card-content>
</mat-card>




