form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

form button[type="submit"] {
  background-color: #e13652;
  border: none;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

#mat-input-0::placeholder{
  color: black;
  font-style: italic;
}


#mat-input-1::placeholder{
  color: black;
  font-style: italic;
}

.error-message {
    color: red;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #3c4043;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.google-login-button:hover {
  background-color: #f8f9fa;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


@media screen and (max-width: 736px) {

    .google-login-button {
      margin-left: 13%;
      margin-top: 7%;
      margin-bottom: 5%;
    }


}

