<div id="aPropos">
    <div id="about-container">
        <div id="sections">
            <section id="sidebar">
                <h2>A propos</h2>
                <section>
                    <p>Beezyweb est une plateforme innovante dédiée à la gestion des locations immobilières. Fondée
                        en
                        2024,
                        notre mission est de simplifier la vie des propriétaires en leur offrant un outil puissant
                        et
                        intuitif
                        pour suivre leurs propriétés, les versements des loyers, les historiques et les
                        statistiques.</p>
                </section>
                <hr/>
                <section>
                    <h2>Fonctionnalités</h2>
                    <ul>
                        <li>Suivi des versements des loyers</li>
                        <li>Accès aux historiques de location</li>
                        <li>Visualisation des statistiques et analyses</li>
                        <li>Gestion simplifiée des propriétés</li>
                    </ul>
                </section>
                <hr/>
                <section>
                    <h2>Notre Vision</h2>
                    <p>
                        Chez Beezyweb, nous croyons en la digitalisation et l'efficacité. Notre objectif est de
                        révolutionner la
                        gestion immobilière en proposant une application accessible et complète, facilitant ainsi la
                        prise
                        de
                        décision et la gestion quotidienne pour les propriétaires.
                    </p>
                </section>
                <hr/>
                <section>
                    <h2>Notre Équipe</h2>
                    <p>Beezyweb est composée d'une équipe passionnée d'experts en technologie et en gestion
                        immobilière. Nous
                        travaillons sans relâche pour améliorer notre plateforme et offrir le meilleur service
                        possible à nos
                        utilisateurs.</p>
                </section>

            </section>
        </div>
    </div>
</div>


