div {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  color: #333;
}

form input,
form button[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form input {
  background-color: #fff;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}
