.accueil{
  padding-top:3.5%;
  padding-left:8%;
  padding-right:7%;
}

.accueil h2{
  color:black;
  font-size: 25px;
  font-weight: bold;
  text-align:center;
}

.accueil h4{
  color:black;
  font-weight: bold;
  margin-top:5%;

}

.accueil strong {
  color: #3498db;
  font-weight: bold;
  font-size: 18px;
}


.accueil p{
  font-family: 'serif';
}

.accueilLeft{
  float:left;
  width:50%;
}

.accueilRight{
  float:right;
  width:50%;
}

.accueilRight img{
  width:100%;
}

@media screen and (max-width: 736px) {

    .accueilLeft{
        float:none;
        width:100%;
    }
    .accueilLeft a{

    }
    .accueilRight{
        width:100%
    }
    .button.primary{
        display:none
    }
    h2{margin:0px;}

    ol{
        margin-left:10px;
        padding-left: 0.25em;
        }
    ol li{margin-top:20px}

    ol li p{margin-top:15px}
}

