#accueil{
  padding-top:3.5%;
  padding-left:8%;
  padding-right:8%;
}

#accueil h2{
  color:black;
  font-size: 25px;
  font-weight: bold;
}

#accueil strong {
  color: #3498db;
  font-weight: bold;
  font-size: 18px;
}


#accueil p{
  font-family: 'serif';
}
