<div id="accueil">
  <section>
    <h2>Pourquoi choisir Beezyweb ?</h2>

    <ol>
        <li>
            <strong>Suivi Simplifié</strong>
            <p>Notre plateforme offre un suivi simplifié de toutes vos locations en un seul endroit.</p>
            <p>Plus de tracas liés à la gestion dispersée de vos biens immobiliers. Avec Beezyweb, la gestion locative devient un jeu d'enfant.</p>
        </li>
        <!-- Ajoutez des éléments similaires pour les points 2 à 5 -->
    </ol>
  </section>

  <section>
    <h2>Comment Commencer?</h2>

    <ol>
        <li>
            <strong>Inscrivez-vous gratuitement:</strong>
            <p>Créez votre compte en quelques étapes simples.</p>
        </li>
        <!-- Ajoutez des éléments similaires pour les points 2 à 4 -->
    </ol>
    <a routerLink="/login" class="button primary">Connection  / Inscription </a>
  </section>
</div>
